@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mt-5">
    <div class="col">
        <div class="al-services-header text-center">
            <h2>Escolha sua bebida</h2>
            <p>Clique em adicionar para escolher sua bebida</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="al-service-box pt-5 pb-4 px-5 text-center">
            <span class="al-service-icon"><img src="~/img/coffee_3.png" /></span>
            <h3 class="mt-3"> Café com Leite</h3>
            <p class="mt-3">Bebida matinal mais consumida no mundo.</p>
            <h3 class="mb-3">R$ 3,00</h3>
            <button type="submit" class="btn btn-block btn-primary">Escolher</button>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="al-service-box pt-5 pb-4 px-5 text-center">
            <span class="al-service-icon"><img src="~/img/coffee_1.png" /></span>
            <h3 class="mt-3"> Cappuccino</h3>
            <p class="mt-3">Bebida italiana preparada com café expresso e leite.</p>
            <h3 class="mb-3">R$ 3,50</h3>
            <button type="submit" class="btn btn-block btn-primary">Escolher</button>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="al-service-box pt-5 pb-4 px-5 text-center">
            <span class="al-service-icon"><img src="~/img/coffee_2.png" /></span>
            <h3 class="mt-3"> Mocha</h3>
            <p class="mt-3">Café, chocolate, leite vaporizado e finalizado com chantilly.</p>
            <h3 class="mb-3">R$ 4,00</h3>
            <button type="submit" class="btn btn-block btn-primary">Escolher</button>
        </div>
    </div>
</div>